.mf-link {
  text-decoration: none;
  @include fontMed;
  position: relative;
  z-index: 0;

  &_inner::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: background-color .3s ease-in-out;
  }
  &:hover {

    .mf-link_inner::after {
      background-color: currentColor;
      transition: background-color .3s ease-in-out;
    }
  }
  &-t1 {
    font-size: 36px;
  }
  &-t2 {
    font-size: 24px;
  }
  &-t3 {
    font-size: 16px;
  }

  &-active span::after{
    background-color: $algae;
  }
}