.mf-hero {
  margin-bottom: 52px;
  width:100%;
  padding: 12px 24px;
  
  .mf-t2 {
    max-width: px-to-rem(518px);
  }

  @include breakpoint('tablet') {
    max-width: 1200px;
    margin: 0 auto 52px;
    padding: 12px 0;
  }
}