.mf-hero {
  margin-bottom: 104px;
  width:100%;
  padding: 12px;
  
  .mf-h1 {
    max-width: px-to-rem(996px);
  }
  @include breakpoint('mobile') {
    padding: 12px 24px;
  }
  @include breakpoint('tablet') {
    max-width: 1260px;
    margin: 0 auto 50vh;
  }
  @include breakpoint('largeDesktop') {
    padding: 12px 0;
  }
}