@import '../../01-Atoms/vars.scss';

.MFButton {
  width: 221px;
  height: 57px;
  border-radius: 6px;
  background-color: $cherry;
  color: $iceBlue;
  padding: 17px 28px;
  font-size: 24px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}