.#{$namespace}-stack {
  display: grid;
  @include breakpoint('largeDesktop') {
    grid-gap: 24px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
  }
}