$iceBlue: #edf2f4;
$dark: #2b2d42;
$pinkishRed: #ef233c;
$cherry: #d80032;
$blueyGrey: #8d99ae;
$black80: rgba(0,0,0, 0.8);
$black10: rgba(0,0, 0, 0.1);
$veryLightPink: #d8d8d8;

// Breakpoints 
$break-largeDesktop: 1260px;
$break-desktop: 1008px;
$break-tablet: 756px;
$break-mobile: 504px;

// Media Queries
@mixin breakpoint($point) {
  @if $point == 'largeDesktop' {
    @media (min-width: #{$break-largeDesktop}) { @content ; }
  } @else if $point == 'desktop' {
    @media (min-width: #{$break-desktop}) { @content ; }
  } @else if $point == 'tablet' {
    @media (min-width: #{$break-tablet})  { @content ; }
  } @else if $point == 'mobile' {
    @media (min-width: #{$break-mobile})  { @content ; }
  } @else {
    @media (min-width: $point) { @content ; }
  }
}
