.mf-nav {
  display: block; // Necessary for IE11
  max-width: 100%;
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: $emerald;
  left: -100%;
  top: 0;
  margin: 0 auto 25vh;
  padding: 36px 12px;
  overflow: hidden;
  transition: left .6s ease;

  @include breakpoint('mobile') {
    padding: 36px 24px;
  }

  .mf-logo {
    position: relative;
    fill: $algae;
    z-index: 2;
  }


  &-mobile {
    position: relative;
    padding: 24px;
    margin: 0 auto 52px;

    .mf-link {
      display: block;
      text-align: center;
      &:hover span::after,
      &:focus span::after {
        background-color: $moss;
        transition: background-color .3s ease-in-out;
      }
    }
    .mf-hamburger.isActive {
      ~ .mf-logo {
        fill: $moss;
        transition: fill .2s ease;
      }
      ~ .mf-nav-mob {
        left: 0;
        transition: left .2s ease;
      }
    } 

    .mf-logo {
      display: block;
      margin: 0 auto;
      fill: $algae;
      position: relative;
      transition: fill .3s ease;
      z-index: 2;
    }
    label {
      position: absolute;
      right: 24px;
      top: 46px;
    }
  }

  &_mob {
    justify-self: end;
  }

  &_checkbox {
    display: none;
  }

  &_mobIcon {
    z-index: 2;
    background-color: $algae;
    border-radius: 100px;
    color: $snowyMint;
    display: block;
    position: relative;
    font-size: 40px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    outline: 0;
    transition: background-color .6s ease;

  }

  .mf-link {
    color: $moss;
    display: block;
  }

  &_cnt {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 48px;
    align-items: center;
    justify-items: center;
  }

  &_lnkcnt {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: repeat(4, 2fr);
    grid-gap: 48px;
    list-style-type: none;

    li {
      align-self: center;
      display: block;
    }
  }

  &-mob {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 133px 0 0;
    grid-template-columns: 1fr;
    .mf-nav_lnkcnt {
      grid-gap: 0;
    }
    .mf-nav_lnkcnt li {
      height: 100%;
    }
    .mf-link {
      color: $snowyMint;
      height: 100%;
      width: 100%;
      transition: background-color $transition-duration $transition-func;
    }
    .mf-link span {
      text-align: center;
      position: relative;
      top: calc(50% - 14px);
      vertical-align: middle;
    }
    .mf-link span::after {
      display: none;
    }
    .mf-link:hover span::after,
    .mf-link:focus span::after {
      border-color: transparent;
    }
    .mf-link:hover,
    .mf-link:focus { 
      transition: background-color $transition-duration $transition-func;
      background-color: darken($algae, 5%);
    }
  }

  @include breakpoint('tablet') {
    background-color: transparent;
    position: static;
    height: auto;
    max-width: 1200px;

    .mf-link {
      color: $algae;
    }

    &-mobile {
      display: none;
    }

    &_cnt {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      justify-items: self-start;

    }
    &_lnkcnt {
      justify-content: end;
      grid-template-columns: repeat(3, max-content);
      grid-template-rows: 1fr;
    }
  }

  @include breakpoint('largeDesktop') {
    padding: 36px 0;
  }
}