@import '../../01-Atoms/vars.scss';

.mf-Nav {
  display: block; // Necessary for IE11
  max-width: 100%;
  margin: 0 auto 48px;
  padding: 36px 24px;

  &_cnt {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 48px;
    align-items: center;
    justify-items: center;
  }

  &_lnkCnt {
    display: none;
  }

  @media (min-width: 756px) {
    max-width: 1256px;

    &_cnt {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      justify-items: self-start;

    }
    &_lnkCnt {
      display: grid;
      grid-template-columns: repeat(3, min-content);
      grid-gap: 48px;
    }
  }
}