@import '../../01-Atoms/vars.scss';

.MFSection {
  padding: 48px 24px 82px;
  background-color: $blueyGrey;

  p {
    max-width: 480px;
  }
  &_cnt {
    max-width: 1440px;
    margin: 0 auto;
  }
}