@mixin fontReg {
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

@mixin fontMed {
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  font-weight: 600;
}

@mixin headings {
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  font-weight: 800;
}

