.#{$namespace}-h1 {
  font-size: px-to-rem(68px);
  line-height: px-to-rem(84px);
}
.#{$namespace}-h2 {
  font-size: 36px;
  line-height: lineHeightRatio(36px, 42px);
}
.#{$namespace}-h3 {
  font-size: 24px;
  line-height: lineHeightRatio(24px, 28px);
}